$bg-clear: #eee;
$bg-dark: #212121;
$text-light: #212121;
$text-dark: #ffca28;
$lead-light: #ff6f00;

.Bg {
  background: url('../../assets/images/Love-Coding.gif') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center -150px;
  width: 100%;
  height: 75vh;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  left: 0;
  z-index: 0;
}

.Logo__Container {
  position: relative;
  width: 22.5rem;
  height: 22.5rem;
  top: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  left: calc(50% - 11.25rem);
  z-index: 11;
  
  .Logo__Background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 3px 3px 20px #2223;
    border: 1px solid #2223;
    background-color: #212121;
    clip-path: polygon(-16.666vh 16.666vh, 100% 50%, 150% 100%, 0% 125%, 0% 0%);
    background-clip: content-box;
    transform: scaleX(-1);
  }

  @media (min-width: 600px) {
    width: 30rem;
    height: 30rem;
    left: calc(50% - 15rem);
  }
}


.HomeHead {
  position: relative;
  z-index: 10;
  top: -33vh;
  width: 100%;
  min-height: 100vh;
  padding: 13rem 16px;
  text-align: center;
  background-color: $bg-clear;
  clip-path: polygon(-100% 16.333%, 100% 0%, 100% 100%, 0% 91.666%, 0% 0%);

  .LeadIn::first-letter {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: $lead-light;
  }

  @media (min-width: 600px) {
    padding: 20.5rem 5rem;
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    font-size: 1.66rem;
    font-weight: 300;
    line-height: 2;
  }
}

.HomeMain {
  width: 91.666%;
  max-width: 1000px;
  font-size: 1.2rem;
  position: relative;
  font-weight: 100;
  margin: -24rem auto 0;
  color: $text-dark;
  padding: 0px;
  background-color: $bg-dark;
  clip-path: polygon(100% 2.8333%, 100% 0%, 100% 100%, -400% 120.666%, 0% 0%);

  h2 {
    padding: 9rem 2rem 1rem;
  }

  h3 {
    color: $bg-dark;
  }

  .HomeMain__Container {
    padding: 32px 16px;
    
    @media screen and (min-width: 600px) {
      padding: 32px 64px;
    }
  }
}