$bg-dark-light: #ffe57f;

.Techs {
  background-color: $bg-dark-light;
  position: relative;
  box-sizing: border-box;
  margin: 3rem 0;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 600px) {
    margin: 3rem 0;
    padding: 2.5rem 1rem;
  }

  > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}