@import url('https://fonts.googleapis.com/css?family=Righteous|Tajawal:300,400,500');
$bg-clear: #eee;
$bg-dark: #212121;
$text-light: #212121;
$text-dark: #ffca28;
$lead-light: #ff6f00;

.Bg {
  background: url('../../assets/images/Love-Coding.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: -10px -275px;
  width: 100vw;
  height: 50rem;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  left: 0;
  z-index: 0;

  @media (min-width: 600px) {
    background-position: -100px -300px;
  }
}

.Logo {
  background: url('../../assets/images/logo-lg.png') no-repeat;
  background-position: center center;
  background-size: 100%; 
  width: 20rem;
  height: 20rem;
  top: 30rem;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  left: calc(50% - 10rem);
  border: 2px solid;
  z-index: 11;

  @media (min-width: 600px) {
    width: 25rem;
    height: 25rem;
    left: calc(50% - 12.5rem);
  }
}

.HomeHead {
  position: relative;
  z-index: 10;
  top: -20rem;
  width: 100vw;
  min-height: 100vh;
  padding: 18rem 16px;
  text-align: center;
  background-color: $bg-clear;
  clip-path: polygon(-700px 350px, 100% 0, 100% 100%, -1000px 1000px, 0 0);

  .LeadIn::first-letter {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: $lead-light;
  }

  @media (min-width: 600px) {
    padding: 20rem 5rem;
    clip-path: polygon(-700px 350px, 100% 0, 100% 100%, -1000px 965px, 0 0);
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    font-size: 1.66rem;
    font-weight: 300;
    line-height: 2;
  }
}

.HomeMain {
  width: 91.666%;
  font-size: 1.2rem;
  position: relative;
  font-weight: 100;
  margin: -24rem auto 0;
  color: $text-dark;
  background-color: $bg-dark;
  clip-path: polygon(100% 142px, 100% 0, 100% 100%, -1000px 7000px, 0 0);

  @media (min-width: 600px) {
    width: 75%;
    padding: 0;
    clip-path: polygon(100% 90px, 100% 0, 100% 100%, -1000px 7000px, 0 0);
  }

  h2 {
    padding: 9rem 2rem 1rem;
  }

  h3 {
    color: $bg-dark;
  }
}