span.CarouselItem {
  width: 260px !important;
  height: 100% !important;
  user-select: none !important;

  @media (min-width: 600px) and (max-width: 799px) {
    width: 200px !important;
  }

  @media (min-width: 600px) {
    width: 400px !important;
    height: 100% !important;
  }
}