.Input {
  input, textarea {
    margin: 2rem auto !important;
    padding: 0 8px !important;
    color: #212121;

    font-family: "Tajawal-regular";
    &::placeholder {
      color: #81d4fab6;
    }
    &:focus {
      border-bottom: 1px solid #81d4fa;
      box-shadow: 0 1px 1px 0 #81d4fa;
      + label {
        color: #81d4fa !important;
      }
    }
  }

  textarea {
    margin: 4.5rem auto 2rem !important;
  }

  label {
    color: #4fc3f7;
    margin: 0 0 1rem !important;
    font-size: 1rem !important;
    [for="bodyText"] {
      margin: 1rem 0 !important;
    }
  }
}

.Invalid {
  border-bottom: 1px solid #ff6f00 !important;
  box-shadow: 0 2px 1px #ff6f007e !important;
  input, textarea{
    &:focus {
      border-bottom: 1px solid #ff6f00 !important;
      box-shadow: 0 2px 2px #ff6f00a8 !important; 
    }
  }
    
}

.ErrorMsg {
  color: #ff6f00;
  margin: -1.75rem 0 1rem;
  float: left;
}