@import url('https://fonts.googleapis.com/css?family=Righteous|Tajawal:300,400,500');
@font-face {
  font-family: "Righteous-Regular";
  src: url('../../assets/fonts/Righteous/Righteous-Regular.ttf');
}
@font-face {
  font-family: "Tajawal-medium";
    src: url('../../assets/fonts/Tajawal/Tajawal-Medium.ttf');
}
@font-face {
  font-family: "Tajawal-light";
  src: url('../../assets/fonts/Tajawal/Tajawal-Light.ttf');
}
@font-face {
  font-family: "Tajawal-bold";
  src: url('../../assets/fonts/Tajawal//Tajawal-Bold.ttf');
}
body {
  font-family: 'Tajawal', "Tajawal-light", sans-serif;

  h1, h2, h3, h4, h5 {
    font-family: 'Righteous', "Righteous-regular", cursive;
    line-height: 1.5;
  }
}
