.ImgMain {
  background-color: transparent;
  text-align: center;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ImgMain img {
    vertical-align: middle;
    align-content: center;
    border-radius: 50%; }

img.LazyImg {
  width: auto !important;
  max-width: 50% !important;
  height: auto !important;
  max-height: 50% !important;
  animation: beat 2s cubic-bezier(0.86, 0, 0.07, 1) infinite; }

span.LazyImg {
  top: calc(21.666% - 32px); }

div.LazyImg {
  top: calc(25% - 32px); }

div.LazyImg,
span.LazyImg {
  position: absolute;
  left: calc(50% - 32px); }
  div.LazyImg div,
  span.LazyImg div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    border-left: 5px solid #f5f5f5;
    animation: turn-360 1s linear infinite; }
    div.LazyImg div:nth-child(1),
    span.LazyImg div:nth-child(1) {
      animation-delay: 120ms;
      border-left-color: #f5f5f57a; }
    div.LazyImg div:nth-child(2),
    span.LazyImg div:nth-child(2) {
      animation-delay: 240ms;
      border-left-color: #f5f5f53a; }

@keyframes beat {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes turn-360 {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
