.Logo {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  position: static;
  position: absolute;
  top: 0;
  left: 0; }
  .Logo img {
    border-radius: 50%;
    vertical-align: middle;
    align-content: center; }
