@import url('https://fonts.googleapis.com/css?family=Righteous|Tajawal:300,400,500');

body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-base-color: beige;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
